[Unit]
Description=bee_ctrl
After=network.target

[Service]
WorkingDirectory=/home/pi/Bee_CTRL/
ExecStart=/home/pi/Bee_CTRL/target/release/Bee-CTRl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
