[Unit]
Description=bee_ctrl
After=network.target

[Service]
WorkingDirectory=/home/pi/Bee_CTRL/
ExecStart=/home/pi/bee_ctrl/bee_ctrl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple


[Install]
WantedBy=multi-user.target
